# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editores/SO
.DS_Store
.vscode/
.idea/
